/*---------------------------------------/*
  # SETTINGS
/*---------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@500;600;700&display=swap");
/*---------------------------------------/*
  # ELEMENTS
/*---------------------------------------*/
.hidden {
  display: none !important;
}

.h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 10px;
}

.h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 25rem;
}

h3 {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: white;
}

/*---------------------------------------/*
  # COMPONENTS
/*---------------------------------------*/
.c-logo-txt {
  fill: white;
}

.c-logo-txt:hover {
  fill: #93b8a9;
}

.c-banner__text {
  text-align: center;
  color: white;
  background: url(../img/banner2.jpg) no-repeat center center;
  background-size: cover;
  padding: 6rem 0;
  font-size: 4em;
}

@media only screen and (max-width: 768px) {
  .c-banner__text {
    padding: 4rem 0;
  }
}

.c-aanbod {
  padding: 2rem 0;
  padding-bottom: 6rem;
  background-color: #313d38;
}

.c-aanbod__foto {
  margin-top: 2rem !important;
}

@media only screen and (max-width: 768px) {
  .c-aanbod__foto {
    display: none;
  }
}

.c-gechiedenis {
  padding: 4rem 0;
  background-color: #313d38;
}

.c-geschiedenis__titel {
  font-size: 3rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 6px #000000;
}

@media only screen and (max-width: 578px) {
  .c-geschiedenis__titel {
    font-size: 2rem;
  }
}

.c-footer {
  padding: 4rem 0;
  background-color: #313d38;
}

.c-footer__titel {
  font-size: 3rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 6px #000000;
}

@media only screen and (max-width: 578px) {
  .c-footer__titel {
    font-size: 2rem;
  }
}

.c-geschiedenis__gezin {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 991px) {
  .c-geschiedenis__gezin {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1rem;
    border-color: #93b8a9;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

.c-geschiedenis__tekstvak {
  padding: 2rem 0;
  background-color: #93b8a9;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-shadow: 0.1px 0.1px 10px #747070;
}

.c-geschiedenis__font {
  margin-left: 3rem;
}

@media only screen and (max-width: 991px) {
  .c-geschiedenis__font {
    margin-left: 1rem;
  }
}

.accordion-header {
  font-size: 3rem !important;
  text-shadow: 1px 1px 6px #000000 !important;
}

.accordion.accordion-flush {
  margin-top: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.titel {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  -webkit-box-shadow: 1px 2px 9px 0px rgba(18, 16, 11, 0);
          box-shadow: 1px 2px 9px 0px rgba(18, 16, 11, 0);
  text-shadow: 1px 2px 9px rgba(18, 16, 11, 0.27);
  text-shadow: 1px 1px 6px #000000;
}

@media only screen and (max-width: 768px) {
  .titel {
    font-size: 2rem;
  }
}

.accordion-header {
  font-size: 5rem !important;
  font-family: "Noto Serif", serif !important;
  font-weight: 700 !important;
}

.ondertitel {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 6px #000000;
  font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width: 768px) {
  .ondertitel {
    font-size: 1rem;
  }
}

.c-aanbod__titel {
  font-size: 3rem;
  font-family: "Noto Serif", serif;
  font-weight: 700;
  text-shadow: 1px 1px 6px #000000;
}

@media only screen and (max-width: 578px) {
  .c-aanbod__titel {
    font-size: 2rem;
  }
}

.carrousel {
  padding: 7rem 0;
}

@media only screen and (max-width: 768px) {
  .carrousel {
    padding: 1rem 0;
  }
}

/*---------------------------------------/*
  # BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  font-size: 1rem;
  color: white !important;
  margin-left: 0.6rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

.nav-link.active {
  border-bottom: 2.5px solid #93b8a9;
}

@media only screen and (max-width: 768px) {
  .nav-link.active {
    border-bottom: none;
    color: #93b8a9 !important;
  }
}

.nav-link:hover {
  color: #93b8a9 !important;
}

.c-nav {
  background-color: #313d38 !important;
  display: fixed !important;
}

.accordion-button:focus {
  color: white !important;
  border-color: #313d38 !important;
  -webkit-box-shadow: 0 0 0 0.25rem #93b8a9 !important;
          box-shadow: 0 0 0 0.25rem #93b8a9 !important;
}

.accordion-button:not(.collapsed) {
  background-color: #93b8a9 !important;
  color: #ffffff !important;
}

.accordion-button::after {
  color: white !important;
}

.accordion-button {
  border-bottom: black 2px !important;
}

@media only screen and (max-width: 768px) {
  .c-footer__map {
    margin: auto;
    width: 524px !important;
    display: block;
  }
}

.naartop {
  position: fixed;
  color: white;
  bottom: 1rem;
  left: 1rem;
}

.naartop :hover {
  color: #93b8a9;
}

.form-label {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-shadow: 1px 1px 6px #000000;
}

#inputGroupFile02 {
  margin-top: 1rem !important;
  margin-bottom: 2rem;
}

.btn.btn-primary {
  background-color: #93b8a9;
}

@media only screen and (max-width: 768px) {
  .btn.btn-primary {
    margin-bottom: 3rem;
  }
}

.btn.btn-primary :hover {
  background-color: lightgreen !important;
}
